body{
  
  background-size: 100% 100%;
  background-attachment: fixed;
}

.view-Employes{
    display: flex;
    flex-direction: column;
    
}

.view-Employes-1{
    
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}
.view-Employes p{
    display: flex;
    font-size: 20px ;
}
.sub-viewEmployes1{
    display: flex;
    justify-content: space-between;
}
.h1empleados{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.espaciadoEmployees{
    display: flex;
    padding: 4px;
    height: 60px;
}
.employee-image {
    width: 100px; 
    height: 100px;
    object-fit: cover; 
    border-radius: 50%;
}

.card-employee {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.custom-swal-popup {
    width: 700px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Ajusta la altura según tus necesidades */
    max-width: 100%;
    max-height: 100%;
  }


  .custom-file-input-container {
    position: relative;
    margin-top: 10px;
  }
  
  .custom-file-label {
    display: inline-block;
    background-color: #3085d6;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .custom-file-input {
    display: none;
  }
  
  .swal-file-name {
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
    color: #555;
  }  
  .swal-img {
    width: 100px; 
    height: auto;
    display: block;
    margin: 0 auto 20px;
  }