

.view-Employes{
    display: flex;
    flex-direction: column;
    
}

.view-Employes-1{
    
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}
.view-Employes p{
    display: flex;
    font-size: 20px ;
}
.sub-viewEmployes1{
    display: flex;
    justify-content: space-between;
}
.h1empleados{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.espaciadoEmployees{
    display: flex;
    padding: 4px;
    height: 60px;
}
.employee-image {
    width: 100px; 
    height: 100px;
    object-fit: cover; 
    border-radius: 50%;
}

.card-employee {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
