.titleOrderAdmin {
    display: flex;
    justify-content: center;
    padding: 10px;
    
    color: rgb(18, 10, 10); /* Texto blanco */
    margin-bottom: 20px; /* Espacio inferior */
}

.all-Order {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #FFF3E0; /* Fondo color claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inputOrder {
    margin: 10px 0;
    width: 100%;
    max-width: 400px; /* Limitar el ancho máximo */
}

.inputOrder input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra interna */
}

.inputOrder input:focus {
    border-color: #FF7043; /* Color de borde al enfocarse */
    box-shadow: 0 0 5px rgba(255, 112, 67, 0.5); /* Sombra al enfocarse */
    outline: none; /* Sin borde adicional */
}

.Button {
    background-color: #FF7043;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Button:hover {
    background-color: #E64A19; /* Color al pasar el ratón */
}

.tablaOrder {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    background-color: #FFF3E0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}
