.titleAddProduct{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.btnProducAdd{
    display: flex;
    justify-content: center;
    
}
.subBtnProducAdd{
    height: 30px;
    padding: 20px;
}
.view-EmployesCards{
    display: flex;
    padding: 50px;
}  
#inputIdEdit{
    width: 140px;
    height: 40px;
} 