* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
/*
h1 {
    
    text-align: center;
}*/
.register-Register{
    width: 1100px;
    height: 500px;
    
}
.h1-Register{
    
    display: flex;
    justify-content: end;
    padding: 70px;
    
}

.img-register{
    border: 5px red solid;
    margin-left: 50px;
    display: flex;
    

}

.register2titleImg{
    margin-left: 20px;
    margin-top: 10px;
}